
<ion-content>
    <div id="new_frame">
      <ion-card>
        <ion-card-header>
          <ion-card-title>{{ new.title }}</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <p>{{ new.content }}</p>
        </ion-card-content>
        <ion-img [src]="new.img"></ion-img>
      </ion-card>
    </div>
  
    <ion-button (click)="toggleFavorite()" expand="full" [color]="isFavorite ? 'danger' : 'primary'">
      {{ isFavorite ? 'Quitar de favoritos' : 'Agregar a favoritos' }}
    </ion-button>
    <ion-button expand="full" color="success" routerLink="/favorites">
        Ir a favoritos
      </ion-button>
  </ion-content>
  
  