/* header.component.scss */

ion-header {
  background: #1f1719;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  width: 100%;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);



  ion-toolbar {
    --background: transparent;
    --border-color: transparent;
  }


  ion-buttons {
    margin: 0 10px;
  }


  ion-img {
    width: 30px;
    height: 30px;
    margin: 0 10px;
  }
}
